@import '../abstracts/mixins';
@import '../abstracts/variables';

* {
  margin: 0;
  padding: 0;
  }
  
  body {
    
    @include d-flex-direction-column;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    background-color: $backgroundcolour;
  }