@import '../abstracts/mixins';

@import '../abstracts/variables';

.game {
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
  height: 300px;
  width: 262px;
  background-image: url(./images/illustration-gfd18a8f4c_640.jpg);
  background-size: cover;
  

  &__region {
    width: 29px;
    height: 28px;
  }

  &__region--8 {
    font-size: 12px;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: red;
  }
  &__region--30 {
    font-size: 12px; 
    color: white;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  &__region--31 {
    font-size: 12px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__region--39 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__region--40 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.apple {
  background-image: url('./images/apple.png');
  background-size: contain;
}

.basket {
  background-image: url('./images/picnic-basket.png');
  background-size: contain;

}

.restart {
  background-image: url('./images/Clicktorestart.png');
  background-size: contain;

}