@import "../abstracts/mixins";
@import "../abstracts/variables";

.game {
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
  height: 300px;
  width: 262px;
  background-image: url(./images/illustration-gfd18a8f4c_640.jpg);
  background-size: cover;

  &__region {
    width: 29px;
    height: 28px;
  }

  &__region--8 {
    font-size: $score-font-size;
    color: $score-font-color;
    font-weight: $score-font-weight;
    text-align: center;
    background-color: $score-background-color;
  }
  &__region--30 {
    font-size: $score-font-size;
    color: $score-font-color;
    font-weight: $score-font-weight;
    @include d-flex-justifycont-align-center;
  }
  &__region--31 {
    font-size: $score-font-size;
    color: $score-font-color;
    font-weight: bold;
    @include d-flex-justifycont-align-center;
  }
  &__region--39 {
    font-size: $score-font-size;
    @include d-flex-justifycont-align-center;
  }

  &__region--40 {
    font-size: $score-font-size;
    @include d-flex-justifycont-align-center;
  }
}

.apple {
  background-image: url("./images/apple.png");
  background-size: contain;
}
.basket {
  background-image: url("./images/picnic-basket.png");
  background-size: contain;
}
.restart {
  background-image: url("./images/Clicktorestart.png");
  background-size: contain;
}
